 .infoBar2 {
  display: flex;
  align-items: center;
  background: #2979FF;

  height: 60px;
  width: 100%;
}
 .infoBar2 h3{
   color: white;
   text-align: center;
   padding-top: 0;
 }

.leftInnerContaineri2 {
  display: flex;
  align-items: center;
  margin-left: 3%;
  color: white;
  height: 60px;
  width: 100%;
}

.leftInnerContaineri2 h3 {
  font-size: 30px;
  margin-left: -4%;
  align-content: space-between;
}

.onlineIcon {
  margin-right: 5%;
}
 