@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
.nav-link:hover {
  color: #e9896a;
}

.navbar-brand {
  display: flex;
  align-items: center;
  height: 2rem;
}
.navbar-brand > img {
  padding: 7px 14px;
}

.nav-link {
  color: #f9f4fc;
  font-family: Anton;
}
.color-nav {
  background-color: #5db556;
  font-family: "Lato", sans-serif;
  color: white;
  margin-bottom: 2rem;
}

