.textContainer2{
    width:300px;
    height:480px;
    background:whitesmoke;
    margin-left: 50px;
    font-size:0;
    border-radius:5px;
    overflow:hidden;

}
.activeContainer2{
    width:300px;
    height:480px;
    background-color:whitesmoke;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
}

.activeContainer2{
    font-size:14px;
    font-weight:normal;
    color:royalblue;
}

.bar2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2979FF;
    height: 60px;
    width: 100%;
    color: #F3F3F3;
}

.activeItem2 {
    display: flex;
    align-items: center;
}

.activeContainer2 img {
    padding-left: 10px;
}

.textContainer h1 {
    margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
    .textContainer2 {
        display: none;
    }
}
