.form2 {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.inputp2 {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  height: 5%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  background: url(../icons/circle-content-send-512.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  overflow: hidden;
  box-sizing: border-box;
}
