@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.AvatarWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
}
.nav-link:hover {
  color: #e9896a;
}

.navbar-brand {
  display: flex;
  align-items: center;
  height: 2rem;
}
.navbar-brand > img {
  padding: 7px 14px;
}

.nav-link {
  color: #f9f4fc;
  font-family: Anton;
}

body,
html {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(127deg, white, #f9f4fc);
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
  padding: 1rem;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.btn {
  border: 1px solid black;
  background: none;
  font-size: 17px;
  font-family: "Gothic A1";
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}
.btn1,
.btn2 {
  color: #fdde6b;
}

.btn1:hover,
.btn2:hover {
  color: blue;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #fdde6b;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,
.btn3::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,
.btn4::before {
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

.btn1:hover::before,
.btn2:hover::before {
  height: 180%;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
li {
  float: left;
  list-style-type: none;
  padding: 1rem;
  
}

.logout {
  font-family: Roboto;
}

.color-nav {
  background-color: #5db556;
  font-family: "Lato", sans-serif;
  color: white;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 3rem;
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.ui.vertical.stripe {
  padding: 8em 0;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0;
}

.quote.stripe.segment {
  padding: 0;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
}
.login {
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 3rem;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: url("https://images.unsplash.com/photo-1511497584788-876760111969?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  box-sizing: content-box;
}
.signup {
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 3rem;
  width: 100%;
  height: 100%;
  background-size: cover;
  background: url("https://images.unsplash.com/photo-1465189684280-6a8fa9b19a7a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  box-sizing: content-box;
}
.containerr {
  background-color: rgba(242, 242, 242, 0.66);
  border-radius: 5px;
}
.ccontainerr {
  background-color: rgba(242, 242, 242, 0.66);
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}
.post {
  /*background: url();*/
  background-color: rgba(242, 242, 242, 0.66);
}

.profile {
  margin: auto;
  width: 50%;
  /* padding: 10px; */
}

.editprofile {
  margin: auto;
  width: 50%;
}

.card {
  padding: 50px;
  /*background: #f4f3f5;*/
}

.postcard {
  padding: 2rem;
}
